/* styles.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebeff0;
  padding: 10px 30px;
}

.navbar .logo {
  height: 60px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2em;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  text-decoration: none;
  color: #a79c69;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-color: #43523a;
  border-radius: 3px;
}

.welcome-text {
  text-align: center;
  color: #ebeff0;
  margin-bottom: 20px;
}

.welcome h2 {
  font-size: 2.5em;
  margin: 0;
}

.welcome p {
  font-size: 1.5em;
  margin: 10px 0;
}

.welcome-slide {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  transition: opacity 5s ease-in-out;
}

.rooms {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  overflow-x: auto;
  white-space: wrap;
  gap: 10px;
}

/*                     Room                      */

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  max-width: 400px;
  min-width: 250px;
}

.reviews-section {
  background-color: #a79c69;
  padding: 5px;
  margin: 0;
}
.reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  white-space: wrap;
  gap: 100px;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-right: 1px solid #ccc;
  border-radius: 0;
  width: 30%;
  max-width: 350px;
  min-width: 250px;
}

.events {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  white-space: wrap;
  gap: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  max-width: 400px;
  min-width: 250px;
}

.footer {
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  background-color: #43523a;
  color: #ebeff0;
  padding: 10px;
}

.footer .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.footer .links a {
  text-decoration: none;
  color: #ebeff0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: left;
    padding: 0;
    height: auto;
  }

  .navbar ul {
    visibility: hidden; /* Hides the menu */
  }

  .navbar li {
    margin: 5px 0;
  }

  .welcome {
    flex-direction: column;
    height: auto;
    /* Adjust padding for better fit on small screens */
  }

  .welcome h2 {
    font-size: 2em; /* Reduce font size for smaller screens */
  }

  .welcome p {
    font-size: 1.5em; /* Adjusted for better readability */
    padding: 5px;
  }

  .welcome-slide {
    width: 100%; /* Makes the slideshow responsive */
    height: 400px;
    margin-bottom: 10px;
  }

  .logo {
    height: 70px; /* Adjust logo size */
    margin-top: 10px;
  }

  p {
    font-size: 1.2em; /* General paragraph font size for mobile */
  }

  .room {
    width: 100%; /* Ensures full width for the Room component on mobile */
  }
}

@media (max-width: 1200px) {
  .reviews {
    display: flex;

    align-items: left;
    justify-content: left;
    overflow-x: auto;
    white-space: wrap;
    gap: 10px;
    padding: 2px;
    border: 0;
    margin: 0;
  }

  .events {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    overflow-x: auto;
    white-space: wrap;
    gap: 10px;
    padding: 2px;
    border: 0;
    margin: 0;
  }
}
